h1 {
  padding: 0% 0% 1% 0%;
  
}

.div {
  padding : 3%
}

.button_group {
  float: right;
  padding: 2% 0% 0% 0%;
}

.right {
  float: right;
}

.input {
  width: 25%;
}

.input_group {
  width: 40%;
  padding: 2% 0% 0% 0%;
}